# Example Environment Variables

# This is an example .env file
SECRET_KEY='your_secret_key_here'
DATABASE_URL='your_database_url_here'
MAIL_USERNAME='your_email@example.com'
MAIL_PASSWORD='your_mail_password_here'
TWILIO_SID='your_twilio_sid_here'
TWILIO_TOKEN='your_twilio_token_here'